<header class="app-header">
  <h1>Aplikacja do obsługi wydarzeń lokalnych</h1>

  <nav class="header-nav" aria-label="Nawigacja główna">
    <a
      routerLink="/"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLinkActive="is-active"
      class="nav-link"
    >
      Strona Główna
    </a>

    <a routerLink="/events" routerLinkActive="is-active" class="nav-link"> Lista Wydarzeń </a>

    <a
      routerLink="/user"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLinkActive="is-active"
      class="nav-link"
    >
      Panel Użytkownika
    </a>

    @if (isOrganizer()) {
      <a routerLink="/organizer" routerLinkActive="is-active" class="nav-link">
        Panel Organizatora
      </a>
    }

    @if (isAdmin()) {
      <a routerLink="/moderation" routerLinkActive="is-active" class="nav-link">
        Moderacja
      </a>
    }
  </nav>
</header>
