<main class="home-wrap">
  <section class="hero-panel">
    <h2>Witaj w aplikacji do obsługi wydarzeń lokalnych</h2>

    <div class="hero-actions">
      <a class="action-btn" routerLink="/events">Przeglądaj wydarzenia</a>
      <a class="action-btn" routerLink="/login" *ngIf="!auth.isLoggedIn()">Zaloguj się</a>
      <a
        class="action-btn"
        routerLink="/login"
        *ngIf="!auth.isLoggedIn()"
        [queryParams]="{ mode: 'register' }"
      >
        Zarejestruj się
      </a>
    </div>
  </section>
</main>
